#page-header {
    color: var(--header-primary);
    margin: 16px 0px 32px 16px;
}

#server-count {
    font-size: 20px;
    color: var(--header-secondary);
    margin-top: 8px;
}

/*Chonk screens - server without margin is 400px*/
@media only screen and (min-width: 432px) {
    #page-header {
        font-size: 48px;
    }

    .server {
        width: 368px;
    }

    .server-image {
        width: 368px;
        height: 184px;
    }
}
/*Smol screens - server + margin is 360px*/
@media only screen and (max-width: 431px) {
    #page-header {
        font-size: 36px;
    }

    .server {
        width: 296px;
    }

    .server-image {
        width: 296px;
        height: 148px;
    }
}

#servers-container {
    width: 100%;
    height: 100%;
    min-width: 360px;
}

.server {
    float: left;
    background-color: var(--background-secondary);
    border-radius: 24px;
    margin: 16px;
    padding: 16px;
    overflow: hidden;
}

.server:first-child {
    display: none !important;
}

.server-name {
    color: var(--text-primary);
    font-size: 24px;
    text-align: center;
}

.server-image {
    object-fit: contain;
    margin: 8px 0px;
}

.server-info {
    width: 180px; /*Enough space for 100px button and user count when in mobile*/
    color: var(--text-secondary);
    font-size: 14px;
    float: left;
}

.server-join {
    width: 100px;
    float: right;
}