:root {
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-transparent: rgba(54,57,63,0.8);
    --background-tertiary: #202225;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-primary: #dcddde;
    --text-secondary: #8e9297;
    --text-placeholder: #72767d;
    --textarea-background: rgba(0,0,0,0.2);
    --textarea-border: rgba(0,0,0,0.3);
    --error: #F04545;
    --error-dark: #7E2A2A;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--text-primary);
    background-color: var(--background-primary);
    margin: 0px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0px;
}

h1 {
    font-size: 24px;
    margin-block-start: 0px;
    margin-block-end: auto;
    margin: 0px;
}
h2 {
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0px;
}

a {
    color: var(--interactive-normal);
    text-decoration: underline;
}
    a:hover {
        color: var(--interactive-hover);
    }
    a:active {
        color: var(--interactive-active);
    }

.textbox {
    background-color: var(--textarea-background);
    color: var(--text-primary);
    border: 1px solid var(--textarea-border);
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-placeholder);
    opacity: 1; /* Firefox */
}

.ui-button {
    color: var(--interactive-normal);
    padding: 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
    .ui-button.no-background {
        background-color: transparent;
    }
    .ui-button:not(.no-background) {
        background-color: var(--background-tertiary);
    }

    .ui-button:hover {
        color: var(--interactive-hover);
    }
    .ui-button:active {
        color: var(--interactive-active);
    }
    .ui-button > div {
        padding: 8px;
        border-radius: 8px;
    }
    .ui-button:not(.no-background):hover > div {
        background-color: var(--background-modifier-hover)
    }
    .ui-button:not(.no-background):active > div {
        background-color: var(--background-modifier-active)
    }

i.right-margin {
    margin-right: 8px;
}

.ui-slider {
    background-color: var(--background-tertiary);
    position: relative;
    border-radius: 10px;
    overflow-x: hidden;
}

.ui-slider-horizontal {
    height: 10px;
}

.ui-slider-vertical {
    width: 10px;
}
    .ui-slider-vertical > .ui-slider-range {
        width: 100%;
        position: absolute;
        bottom: 0px;
    }

.ui-slider-range {
    background-color: var(--interactive-normal);
    height: 10px;
}

.ui-slider-handle {
    background-color: var(--interactive-normal);
    position: absolute;
    height: 10px;
    width: 10px;
    display: none;
}

.ui-progressbar {
    height: 100%;
    border-radius: 200px;
    overflow-x: hidden;
    background-color: var(--background-tertiary);
}

    .ui-progressbar .ui-progressbar-value {
        height: 100%;
        border-radius: 200px;
        background-color: var(--interactive-normal);
    }

.hidden {
    display: none;
}

.faded-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}