#header {
    font-size: 12px;
    background-color: var(--background-secondary);
    padding: 4px;
    margin-bottom: 8px;
}

#login-container {
    margin: 8px;
}

#login-controls {
    margin-top: 10px;
}

.login-textbox {
    width: 100%;
    max-width: 200px;
    margin: 4px 0px;
}

#connect-button {
    width: 120px;
    margin: 4px 0px;
}

#login-response-container {
    border: 3px solid var(--error-dark);
    background-color: var(--error);
    width: 300px;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
}

#login-response {
    color: var(--text-primary);
}












#settings-container {
    height: auto;
    border: 4px solid var(--textarea-border);
    background-color: var(--background-primary);
    position: fixed;
    z-index: 1001;
}
/*Chonk screens*/
@media only screen and (min-width: 768px) {
    #settings-container {
        width: 400px;
        top: 200px;
        left: calc(50vw - 204px)
    }
}
/*Smol screens*/
@media only screen and (max-width: 767px) {
    #settings-container {
        width: 300px;
        top: 100px;
        left: calc(50vw - 154px)
    }
}

#settings-header {
    height: 30px;
    padding: 8px;
}
    #settings-header > h1 {
        float: left;
        width: calc(100% - 30px);
    }

#settings-close-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    float: right;
    font-size: 24px;
}
    #settings-close-button > div {
        padding: 8px 0px;
        background-color: transparent;
    }

#settings {
    padding: 8px;
    margin-top: 10px;
}

#subtitle-track {
    width: 200px;
}










#main-container {
    height: auto;
    margin: 0px 8px;
}

#content-container {
    height: auto;
}

#video-content {
    display: block;
    z-index: 998;
    background-color: black;
}
    #video-content:not(.fullscreen) {
        max-height: calc(100vh - 155px);
        width: 100%;
    }
    #video-content.fullscreen {
        width: 100vw;
        height: 100vh;
    }

#video-top-bar {
    background-color: var(--background-secondary);
    height: 40px;
}

#video-title {
    overflow: hidden;
    width: calc(100% - 40px);
    float: left;
    height: 100%;
}

#top-bar-buttons {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.top-bar-button {
    border-radius: 200px;
    font-size: 15px;
    width: 30px;
}

    .top-bar-button > div {
        border-radius: 200px;
        padding: 6px;
    }

/*Chonk screens*/
@media only screen and (min-width: 768px) {
    #content-container {
        width: calc(100% - 288px);
        float: left;
    }

    #video-title {
        font-size: 18px;
    }
}
/*Smol screens*/
@media only screen and (max-width: 767px) {
    #content-container {
        width: 100%;
    }

    #video-title {
        font-size: 14px;
    }
}

.fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.fullscreen-controls {
    position: fixed;
    z-index: 999;
    width: calc(100vw - 40px);
    bottom: 0px;
    left: 0px;
}

#audio-content {
    display: none;
}

#controls-container {
    padding: 10px 20px;
    background-color: var(--background-secondary);
}
    #controls-container.fullscreen-controls {
        background-color: var(--background-transparent);
    }

#control-buttons-container {
    width: 100%;
    height: 40px;
}

#left-control-buttons-container {
    width: 65%;
    height: 40px;
    float: left;
}

#left-control-buttons {
    margin: auto;
    float: left;
    margin-right: 10px;
}

.control-button {
    border-radius: 200px;
    font-size: 20px;
    width: 40px;
}
    .control-button > div {
        border-radius: 200px;
    }

#playpause-button {
    float: left;
}

    #playpause-button.pause-button > div > i:first-child {
        display: none;
    }
    #playpause-button.play-button > div > i:nth-child(2) {
        display: none;
    }

    #playpause-button.buffer-button > div > i:not(:last-child) {
        display: none;
    }
    #playpause-button.buffer-button > div > i:last-child {
        animation: spin-animation 1s linear 0s infinite normal;
    }
    #playpause-button:not(.buffer-button) > div > i:last-child {
        display: none;
    }

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

#skip-button {
    float: left;
    margin-left: 8px;
}

#timestamp {
    font-size: 14px;
    float: left;
    width: calc(100% - 98px);
    height: 40px;
    position: relative;
}
    #timestamp > p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

#right-control-buttons-container {
    width: 35%;
    height: 40px;
    float: left;
}

#right-control-buttons {
    width: 40px;
    float: right;
    margin-left: 10px;
}

#volume {
    float: right;
    padding: 10px 12px 10px 8px;
    position: relative;
    background-color: var(--background-tertiary);
    border-radius: 40px;
}
    #volume:hover {
        border-radius: 0px 0px 40px 40px;
    }

#volume-button {
    width: 20px;
    height: 20px;
    float: left;
    font-size: 20px;
    transform: translateY(-2px);
}

#volume-slider-container {
    height: 100px;
    width: 10px;
    padding: 15px;
    border-radius: 40px 40px 0px 0px;
    position: absolute;
    bottom: 40px;
    left: 0px;
    background-color: var(--background-tertiary);
}

#volume-slider {
    height: 100px;
    background-color: var(--background-secondary);
}

.expand-button > div > i:first-of-type {
    display: none;
}

.compress-button > div > i:last-of-type {
    display: none;
}

#position-slider-container {
    margin-top: 10px;
}






#userlist-container {
    background-color: var(--background-secondary);
}
    #userlist-container > h1 {
        padding: 8px;
    }

#userlist {
    overflow-y: auto;
}

.user {
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-primary);
}
    .user.user-buffer {
        color: var(--error);
    }
        .user.user-buffer.user-nodata {
            color: var(--error-dark);
        }

/*Chonk screens*/
@media only screen and (min-width: 768px) {
    #userlist-container {
        width: 280px;
        height: 100%;
        right: 0px;
        top: 0px;
        float: right;
    }

    #userlist {
        margin: 0;
        right: 0px;
        max-height: calc(100% - 61px);
    }

    .user {
        font-size: 18px;
    }
}
/*Smol screens*/
@media only screen and (max-width: 767px) {
    #userlist-container {
        width: 100%;
        margin: 8px 0px;
    }

    #userlist {
        max-height: 350px;
    }

    .user {
        font-size: 16px;
    }
}








#queue-files-container {
    margin: 0px 8px;
}

.media-list-container {
    background-color: var(--background-secondary);
    margin: 8px 0px;
}

/*Chonk screens*/
@media only screen and (min-width: 768px) {
    #queue-files-container {
        height: 600px;
    }

    #queue-container {
        float: left;
    }

    #files-container {
        float: right;
    }

    .media-list-container {
        width: calc((100% - 8px) * 0.5);
        height: calc(100% - 16px);
    }
}
/*Smol screens*/
@media only screen and (max-width: 767px) {
    #queue-files-container {
        height: 800px;
    }

    .media-list-container {
        height: calc((100% - 8px) * 0.5);
    }
}

.media-list-container > h1 {
    padding: 8px;
}

.media-list {
    height: calc(100% - 53px);
    overflow-x: hidden;
    overflow-y: auto;
}

.media-list-entry {
    height: auto;
    margin: 8px;
    background-color: var(--background-primary);
    padding: 8px;
}

.media-list-entry-title-duration-container {
    height: auto;
    overflow: hidden;
}

.media-list-entry-title {
    font-size: 16px;
    color: var(--text-primary);
    max-width: calc(100% - 64px);
    float: left;
}

.media-list-entry-duration {
    font-size: 13px;
    color: var(--text-secondary);
    width: 56px;
    margin-top: 4px;
    margin-left: 8px;
    float: left;
}

.media-list-entry-button-container {
    height: 22px;
    margin-top: 8px;
}

.queue-entry-button {
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin: 0px 8px;
    float: left;
}
    .queue-entry-button:first-child {
        margin-left: 0px;
    }
    .queue-entry-button:last-child {
        margin-right: 0px;
        float: right;
    }

/*Placeholder list item is hidden*/
.media-list-entry:first-child {
    display: none;
}
/*First queue item has no move up*/
.queue-entry:nth-child(2) > .queue-entry-button-container > .move-top {
    display: none;
}
.queue-entry:nth-child(2) > .queue-entry-button-container > .move-up {
    display: none;
}
/*Last queue item has no move down*/
.queue-entry:last-child > .queue-entry-button-container > .move-bottom {
    display: none;
}
.queue-entry:last-child > .queue-entry-button-container > .move-down {
    display: none;
}
/*Second to first queue item has no move top*/
.queue-entry:nth-child(3) > .queue-entry-button-container > .move-top {
    display: none;
}
/*Second to last queue item has no move bottom*/
.queue-entry:nth-last-child(2) > .queue-entry-button-container > .move-bottom {
    display: none;
}

/*Overrides*/
#queue {
    height: calc(100% - 97px);
}


.file-entry-button-container {
    height: 25px;
}

.file-add-queue-button {
    width: 100px;
    border-radius: 4px;
    font-size: 14px;
}
    .file-add-queue-button > div {
        border-radius: 4px;
        padding: 4px;
    }



#url-entry {
    width: calc(100% - 34px - 128px);
    margin: 8px 4px 8px 8px;
    float: left;
}

#download-button {
    height: 36px;
    float: right;
    width: 120px;
    margin: 8px 8px 8px 4px;
}

.download-tag {
    color: var(--text-secondary);
}